.bg-con {
  text-align: center;
}

.chrono-container {
  position: relative; /* or position: fixed; if you want it fixed to the viewport */
}

.chrono-container .chrono-buttons {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #1e293b;
  font-size: 18px;
  width: 200px;
}
.sub-head {
  color: #171f46;
  font-size: 33px;
}
.head-con {
  width: 100%;
  display: flex;
  justify-content: center;
}
